*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, footer{
    width: 100vw;
    height: 15vh;
    background-color: #003476;
}

main{
    width: 100vw;
    height: 70vh;
}

h1{
    font-size: 4rem;
    color:white;
    padding-left: 1rem;
    padding-top: 1rem;
}

div p{
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

#name-input{
    margin-left: 1rem;
    width: 15rem;
    height: 2rem;
}

#search-button{
    width: 5rem;
    height: 2rem;
}

#pokemon-details{
    color: white;
    text-align: center;
    padding: 1rem;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 0;
    position: relative;
    top: 3.5rem;
    border-radius: 1rem;
}

#pokemon-img{
    text-align: center;
    margin: 0 auto;
    width: 20%;
    margin-top: 1rem;
    background-color:darkcyan;
}